#FilterContainer {
  display: flex;
  align-items: center;

  #FilterLabel {
    padding-right: 15px;
  }
}

#ChartContainer {
  padding: 10px;
  width: 650px;
  #ChartsWrapper{
    width: 100%;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
  }
  .custom-tooltip {
    background-color: #f2f2f2;
    padding: 0px 15px;
    border: 1px #e0e0e0 solid;
  }
  #ChartInfo {
    text-align: center;
  }
}
