#Layout{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#Header{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  div{
    @media screen and (min-width: 574px) {
      padding: 15px;
    }
  }
  #Title{
    flex-grow: 1;
  }
}

#Body{
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  padding-top: 25px;

  .body-item{
    padding-bottom: 15px;
  }
}